
.timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  background-color: #AD30C1;
  color: antiquewhite;
  width: 100%;
  min-height: 100px;
}

.content {
  width: 100%;
  display: flex;
}

.hoorayButton {
  position: absolute;
  top: 200px;
  left: auto;
  background: none;
  border: none;
}

.button_picture {
  height: 400px;
  position: absolute;
  padding: auto auto;
}

.buttonText {
  color: antiquewhite;
  font-size: 25px;
  position: relative;
  left: 200px;
  top: 167px;
}

.main {
  height: 100vh;
  background-image: url("/back.png");
  background-position: center;
  background-size: cover;
  background-color: #F6ED23;
}

body {
  margin: 0px;
}
